<template name="archivedSprints">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{> sprintSearch}}
          </div>
          <div class="sprints-list">
            {{#each sprints}}
              <div class="row sprint-row">
                {{#if editingSprintTitleId}}
                  <div class="col-sm-9">
                    {{> editSprintTitle}}
                  </div>
                {{else}}
                  <div class="col-sm-9"><a href="sprint/{{_id}}" class="block-level" >{{title}}</a></div>
                {{/if}}
                {{#if currentUser}}
                  <div class="col-sm-3">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <a id="editSprintTitleBtn" class="btn btn-info" title="Edit">
                          <i class="fa fa-edit"></i></a>
                      </div>
                      <div class="btn-group">
                        <a id="unarchiveSprint" class="btn btn-primary" title="Unarchive">
                          <i class="fa fa-undo"></i></a>
                      </div>
                    </div>
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
