<template name="addSprint">
  <div class="add-sprint">
    <form role="form" id="add-new-sprint">
      <div class="form-group">
        <label class="sr-only">Add a Sprint</label>
        <div class="input-group">
          <input type="text" id="sprint-title" class="form-control" placeholder="Add a Sprint">
          <span class="input-group-btn">
            <button id="add-sprint" type="submit" class="btn btn-primary">Add</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</template>
