@green: #8CC63F;
@dark-grey: #444;
@text-on-dark: #f1f1f1;
@trebuchet: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;


/* Typography
=========================================== */
.btn,
button{
  font-family: @trebuchet;
  font-weight: bold;
}
::-webkit-input-placeholder{
  font-family: @trebuchet;
  font-weight: bold;
}
::-moz-placeholder{
  font-family: @trebuchet;
  font-weight: bold;
}
:-ms-input-placeholder{
  font-family: @trebuchet;
  font-weight: bold;
}
input:-moz-placeholder {
  font-family: @trebuchet;
  font-weight: bold;
}

/* UI Overrides
=========================================== */
.well,
.panel,
.panel-heading{
  border-radius: 0px;
}
/* Button Overrideds
=========================================== */
.btn-success{
  background-color: @green;
}

/* Navigation
=========================================== */
nav.navbar{
  background-color: @green;
  padding:10px 0 15px 0;
  border-radius: 0px;
  border:none;
  margin-bottom: 0px;
}

/* Content
=========================================== */
#banner{
  background-color: @dark-grey;
  color:@text-on-dark;
  padding:40px 0;
  background-image: url(images/congruent_outline.png);
  background-attachment: fixed;


  #add-new-sprint{
    input[type="text"]{
      padding:25px;
      font-family: @trebuchet;
      font-weight: bold;
      font-size: 1.2em;

      &::-webkit-input-placeholder{
        font-family: @trebuchet;
        font-weight: bold;
        font-size: 1.2em;
      }
      &::-moz-placeholder{
        font-family: @trebuchet;
        font-weight: bold;
        font-size: 1.2em;
      }
      &:-ms-input-placeholder{
        font-family: @trebuchet;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
    button{
      padding:15px;
    }
  }
}
#content{
  padding:50px 0;
}
#login-buttons {
  Float: right;
  padding-right:30px
}
.navbar-header{
	float: left;
}
