<template name="addIssue">
  <div class="add-issue">
    <form role="form" id="add-new-issue">
      <div class="form-group">
        <label class="sr-only">Add an Issue</label>
        <div class="input-group">
          <input type="text" id="issue-title" class="form-control" placeholder="Add an Issue">
          <span class="input-group-btn">
            <button id="add-issue" type="submit" class="btn btn-primary">Add</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</template>
