<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">
          <a href="{{pathFor 'home'}}"><img src="/images/sprintq-logo.png" class="img-responsive" alt="sprintQ"></a>
        </div>
      </div>
      <div class="navbar-right" id="navbar">
        <ul class="nav navbar-nav">
          <li>
            {{> loginButtons}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
