<template name="home">
  <div class="container">
    <div clas="row">
      <div class="col-md-8">
        <div class="page-header">
          <h3>Sprints</h3>
        </div>
        <form role="form" id="add-sprint">
          <div class="form-group">
            <label for="addSprint">Add a Sprint</label>
            <div class="input-group">
              <input type="text" id="addSprint" class="form-control" placeholder="Sprint Title">
              <span class="input-group-btn">
                <button id="Submit" type="submit" class="btn btn-default">Submit</button>
              </span>
            </div>
          </div>
        </form>
        </div>
        <div class="col-md-4">
          {{> rankings}}
      </div>
    </div>
  </div>
</template>
