<template name="home">
	<div class="container">
	  <div clas="row">
    	<div class="col-md-8">
				<div class="page-header">
					<h3>Sprints</h3>
					{{> loginButtons}}
				</div>
				<form role="form" id="add-sprint">
					<label>Add a Sprint</label>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Sprint Title">
						<button id="Submit" type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
    	</div>
    	<div class="col-md-4">
				<div class="page-header">
    	  	<h3>Rankings</h3>
				</div>
    	</div>
		</div>
	</div>
</template>
