<template name="home">
  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          {{#if currentUser}}
            {{> addSprint}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{> sprintsList}}
        </div>
        <div class="col-md-4">
          {{> rankings}}
        </div>
      </div>
    </div>
  </div>
</template>
