<template name="issueSearch">
  <div id="issue-search-template">
    <div class="row">
      <div class="col-sm-5"><h4>Issues</h4></div>
      <div class="col-sm-7 pull-right">
        <form role="form" class="form-horizontal">
          <div id="issueSearch" class="form-group">
            <div class="input-group">
              <input id="issueSearchInput" name="issueSearch" type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
