<!-- reference:

http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-panels.php

-->
<template name="rankings">
  <div id="rankings" class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><h2 class="block-title">Rankings</h2></div>
      <!-- List group -->
      <div class="list-group">
        {{#each users}}
          <a href="{{profile.html_url}}" class="list-group-item"><img src="{{profile.avatar_url}}" height="32" width="32"> {{profile.name}}<span class="badge">49</span></a>
        {{/each}}
      </div>
  </div>
</template>
