<template name="sprintsList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div id="sprint-search-template">
        {{> sprintSearch}}
      </div>
    </div>
    <div class="list-group sprints-list">
      <ul id="sprintsList">
        {{#each sprints}}
          <li><a href="sprint/{{_id}}" class="list-group-item">{{title}} <input type="button" name="archiveSprint" class="btn btn-primary" value="Archive"></a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
