<template name="sprint">
    {{#if currentUser}}
    <div id="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            {{> addIssue}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                      <li><a href="{{pathFor 'home'}}">Home</a></li>
                      <li class="active">Sprint</li>
                    </ol>
                    <h1><strong>{{title}}</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{> issueSearch}}
                        </div>
                        <div class="list-group">
                            {{#each issueList}}
                              {{> issue}}
                            {{else}}
                              <p><a href="" class="list-group-item">No issues yet.</a></p>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {{> rankings}}
                </div>
            </div>
        </div>
    </div>
</template>
