<template name="sprintSearch">
  <form role="form" class="form-horizontal">
    <div id="sprintSearch" class="form-group">
      <label class="col-sm-1 control-label" for="sprintSearch">Sprints</label>
      <!-- Move search field to the right by filling space in-between -->
      <div class="col-sm-4"></div>
      <div class="col-sm-7">
        <div class="input-group">
          <input name="sprintSearch" type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  </form>
</template>