<template name="sprintSearch">
  <div id="sprint-search-template">
    <div class="row">
      <div class="col-sm-5">
        {{#if RouteIs 'archivedSprints'}}
        <h2 class="block-title"><a href="{{pathFor 'home'}}">Sprints</a> | Archived Sprints</h2>
        {{/if}}
        {{#if RouteIs 'home'}}
        <h2 class="block-title">Sprints | <a href="{{pathFor 'archivedSprints'}}">Archived Sprints</a></h2>
        {{/if}}
      </div>
      <div class="col-sm-7 pull-right">
        <form role="form" class="form-horizontal">
          <div id="sprintSearch" class="form-group">
            <div class="input-group">
              <input id="sprintSearchInput" name="sprintSearch" type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
